@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("../css/sub-css/preload.css");
@import url("../css/sub-css/navbar.css");
@import url("../css/sub-css/header.css");
@import url("../css/sub-css/aboutus.css");
@import url("../css/sub-css/projects.css");
@import url("../css/sub-css/contact.css");
@import url("../css/sub-css/animation.css");


:root {
    /* Note dari Luthfi : Masukkan variable warnanya kesini, biar nanti untuk ganti tema mudah */
    --primary: #343434;
    --text: #fcfaf1;
    --light: #dddddd;
    --dark: #545454;
    --title: #E6B31E;
    --button: #3C30C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    height: 100vh;
    background: var(--primary);
    width: 100vw;
}

/* Responsive Breakpoint */

/* Ukuran tablet */
@media screen and (max-width: 820px) {

    nav ul {
        width: 50%;
    }

    .header {
        margin: 0 auto;
        width: 75%;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 600px) {

    nav .logo img {
        height: 16px;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul li a {
        color: #f5f5f5;
    }

    nav ul li a:hover {
        color: #e6b31e;
    }

    nav {
        z-index: 100;
        overflow-x: hidden;
    }

    nav ul {
        position: fixed;
        right: 0;
        top: 0;
        width: 40%;
        height: 25vh;
        margin-top: 70px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border-radius: 5px;
        z-index: -1;
        transform: translateX(100%);
        transition: all 500ms;
        opacity: 0;
    }

    nav ul.slide {
        margin-top: 70px;
        opacity: 1;
        z-index: 2;
        transform: translateX(0);
        opacity: 0.8;
    }

    .header {
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .judul p {
        text-align: center;
    }

    .profiles {
        margin-left: 10%;
        margin-right: 10%;
    }

    .projects {
        background-size: 200%;
    }

    .contact {
        margin: 40px 5%;
    }
}