header {
    background-color: var(--primary);
    padding-bottom: 162px;
    padding-top: 130px;
}

.header {
    margin: 0 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.judul h1 {
    font-weight: 800;
    color: var(--text);
    font-size: 4em;
    margin: 3vh auto;
    line-height: 61px;
}

.judul h1:nth-child(2) {
    padding-bottom: 30px;
}

.judul h1 b {
    font-weight: 800;
    color: var(--title);
}

.judul p {
    text-align: center;
    font-weight: 500;
    color: var(--text);
    font-size: 1.5em;
    line-height: 30px;
    padding-bottom: 60px;
}

.tombol {
    width: 213px;
    height: 62.65px;
    padding: 10px;
    border: 0 solid;
    border-radius: 10px;
    background-color: var(--button);
    transform: translateY(5px);
    transition: 500ms;
    margin: auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.123);

}

.tombol a {
    text-align: center;
    color: var(--text);
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.tombol:hover {
    transition: 500ms;
    background-color: var(--hoverbutton);
    cursor: pointer;
}